body {
    font: 16px Droid Sans;
    height: 100%;
}

html,
body {
    height:100%;
}

.container {
    height: 100%;
}

.content {
    margin-top: 100px;
}

.validationMessage {
    color: Red;
}

.customMessage {
    color: Orange;
}